.container-confirm {
    background-color: #E4F2FD;

    position: absolute;
    top: 45px;
    left: 72Px;
    width: 240px;
    height: 90px;
    padding: 7px;

    border-radius: 4px;

    z-index: 1;
}

.container-confirm span {
    display: block;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;

    margin: 8px;
}

.btn-actions-confirm {
    margin: 5px;
    padding: 10px;
    width: 100px;

    border: none;
    border-radius: 4px;
    
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.btn-actions-confirm:hover {
    opacity: 0.8;
} 

.blue {
    background-color: #3A9FF1;
}

.red {
    background-color: #FF576B;
}


.arrow-up {
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #E4F2FD;
}

